/* Pallete

It would be faster to use this then figuring out how to configure a preprossesor

Light Blue - #a8dadc
Blue - #457b9d
Dark Blue - #1d3557
Red - #e63946
White - #f1faee */

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    text-decoration: none;
}

*::selection {
    color: #e63946;
    background-color: #1d3557;
}

body {
    background-color: #cceaeb;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
}

/* Header */

.header {
    padding: 0 20px;
    grid-column: 1 / -1;
    color: #e63946;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #f1faee;
    height: 100%;
    border-bottom: #1d3557 1px solid;
}

.header-logo {
    font-weight: bold;
    font-size: larger;
}

.header-logo:hover {
    cursor: pointer;
    color: #1d3557;
}

.header-search {
    width: 50%;
}

.search-bar {
    border: #1d3557 1px solid;
    border-right: none;
    border-radius: 10px 0 0 10px;
    background-color: #f1faee;
    width: 80%;
    height: 30px;
    padding-left: 5px;
}

.search-bar:focus {
    border: #e63946 2px solid;
    border-right: none;
    outline: none;
}

.search-bar:focus ~ .search-button {
    border: #e63946 2px solid;
    border-left: none;
    outline: none;
    height: 34px;
}

::placeholder {
    font-size: larger;
    color: #e63946;
}

.search-button {
    color: #e63946;
    background-color: #f1faee;
    border: #1d3557 1px solid;
    border-left: none;
    border-radius: 0 10px 10px 0;
    width: 1.7rem;
    height: 32px;
}

.search-button:hover {
    cursor: pointer;
}

.search-voice {
    margin-left: 0.5rem;
}

.search-voice:hover {
    cursor: pointer;
    color: #1d3557;
}

.header-misc {
    display: flex;
    align-items: center;
}

.misc-notification {
    margin: 0 2rem 0 0;
}

.misc-notification:hover {
    color: #1d3557;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 1rem;
    background-color: #f1faee;
    color: #1d3557;
    z-index: 1;
    border: #1d3557 2px solid;
    border-radius: 1rem;
    overflow: hidden;
}

.dropdown-item {
    border-bottom: #e63946 1px solid;
    padding: 0.5rem 2rem;
}

.dropdown-item:last-child {
    color: #e63946;
    border: none;
}

.dropdown-item:hover {
    background-color: #457b9d;
}

.misc-dropdown:hover{
    color: #1d3557;
}

.misc-dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: #1d3557 1px solid;
    background-color: #1d3557;
}

.sidebar-list {
    overflow: scroll;
    height: 60vh;
}

.sidebar-list::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.sidebar-item {
    padding: 5px;
    display: flex;
    align-items: center;
    height: 3rem;
    color: #e63946;
    background-color: #f1faee;
    border-top: #1d3557 1px solid;
}

.sidebar-item:hover {
    background-color: #457b9d;
    cursor: pointer;
    color: #f1faee;
}

.sidebar-avatar {
    margin: 0 1rem 0 1rem;
    width: 1.5rem;
    border-radius: 50%;
}

.sidebar-live {
    margin-left: auto;
}

.sidebar-pulse {
    background: #e63946;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(230, 57, 70, 1);
    margin: 10px;
    height: 10px;
    width: 10px;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(230, 57, 70, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(230, 57, 70, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(230, 57, 70, 0);
    }
}

.sidebar-info {
    margin: 1.5rem;
    background-color: #f1faee;
    margin-top: auto;
}

.sidebar-info h2 {
    color: #1d3557;
    margin: 1.5rem 1.5rem 0 1.5rem;
    text-align: center;
}

.info-icons {
    text-align: center;
}

.info-icon {
    font-size: 1.5rem;
    margin: 1.5rem 1rem;
}

.fa-telegram-plane:hover {
    color: #0088cc;
}

.fa-facebook-f:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #cd486b;
}

/* Main */

.main-tags {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;
    width: 80vw;
    margin: 15px 0 0 15px;
    height: 30px;
}

.main-tags::-webkit-scrollbar {
    height: 0;
    background: transparent;
}

.main-tags div {
    display: inline-block;
    padding: 5px 15px;
    border: #1d3557 1px solid;
    border-radius: 20px;
    background-color: #f1faee;
}

.main-tags div:first-child {
    border: #e63946 1px solid;
    color: #e63946;
}

.main-tags div:first-child:hover {
    color: #e63946;
}

.main-tags div:hover {
    cursor: pointer;
    color: #f1faee;
    background-color: #1d3557;
}

.main-videos {
    display: grid;
    padding: 15px;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: 1fr;
}

.main-video-card {
    font-size: 0;
    height: 100%;
    align-self: stretch;
    background-color: #1d3557;
}

.video-thumbnail {
    width: 100%;
}

.video-thumbnail:hover {
    opacity: 0.5;
}

.video-info-container {
    display: flex;
    font-size: 1rem;
    color: #1d3557;
    background-color: #cceaeb;
    padding: 10px;
}

.video-avatar {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
}

.video-info {
    display: inline-flex;
    flex-direction: column;
    align-self: center;
}

.video-title {
    font-weight: normal;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
    margin-left: 20px;
}

.video-title:hover {
    cursor: pointer;
    color: #e63946;
}

.video-author {
    font-weight: normal;
    color: dimgray;
    align-self: center;
    margin: 0 auto 0 20px;
}

.video-author:hover {
    cursor: pointer;
    color: #e63946;
}

.video-options {
    margin: auto 0 auto auto;
}

.video-options:hover {
    cursor: pointer;
    color: #e63946;
}

.footer {
    text-align: center;
    margin-bottom: 10px;
}

.footer:hover { 
    cursor: pointer;
    color: #e63946;
}
